.App {
  height: 100%;
  background-image: url(images/mikukabegami.jpeg);
  background-size: cover;
}

.App-header {
  background-color: transparent;
  height: 100px;
  display: flex;
  justify-content: center;
  color: black;

  .page-title{
    
    margin-left: 100px;
    font-family: cursive;
    width: 300px;
    margin-bottom: 0;
    align-items: center;
    h1{
      margin: 0px;
    }
  }
}

.main-container{
  height: 80%;
  display: flex;
}
