.App {
  height: 100%;
  background-image: url(images/5-toubun_no_hanayome_91.jpeg);
  background-size: cover;
}

.App-header {
  background-color: transparent;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

  .page-title{
    font-size: 300%;
    margin-left: 100px;
    font-family: cursive;
  }
}

.main-container{
  height: 80%;
  display: flex;
}
