.todo-list{
    margin-left: auto;
    height: 100%;
    width: 40%;
    margin-right: 80px;
    margin-top: 50px;

}

.todo{
    background-color: white;
    height: 200px;
    margin-bottom: 20px;
    background-color:rgba(231, 228, 228, 0.5);
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .7);
    border-radius: 50px;
}