.todo-items{
    margin-left: auto;
    height: 100%;
    width: 40%;
    margin-right: 80px;
    margin-top: 50px;

    .contents-title{
        color: white;
        text-align: center;
        font-family: cursive;
        font-size: 150%;
        margin-top: 1px;

    }
}
