.todo-item{
    height: 15%;
    margin-bottom: 20px;
    background-color:rgba(231, 228, 228, 0.5);
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .7);
    border-radius: 50px;
    align-items: center;
    display: flex;

    .todo-icon{
        height: 50px;
        width: 50px;
        background-image: url(images/images.jpeg);
        background-size: contain;
        margin: auto 20px;
    }
}

