.todo-items{
    margin-left: auto;
    height: 100%;
    width: 40%;
    margin-right: 80px;
    margin-top: 50px;

    .contents-title{
        color: white;
        text-align: center;
        font-family: cursive;
        font-size: 150%;
        margin-top: 1px;

    }

    .create-task-button{
        text-align: center;
        font-family: cursive;
        text-decoration: underline;
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .7);
        width: 100px;
        margin: 0 auto;
        border-radius: 10px;
    }
}
