.create-task{
    height: 100%;

    .create-form{
        height: 60%;
        margin-bottom: 20px;
        background-color:rgba(231, 228, 228, 0.5);
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .7);
        border-radius: 50px;
        display: flex;
        flex-flow: column;

        .title{
            margin-top: 5%;
            margin-left: 10%;
            .label{
                font-family: cursive;
                font-size: 150%;
                margin-bottom: 5px;
                margin-left: 5px;
            }

            .input-title{
                font-size: 110%;
                border-radius: 20px;
            }
        }

        .description{
            margin-left: 10%;
            .label{
                font-family: cursive;
                font-size: 150%;
                margin-bottom: 5px;
                margin-left: 5px;
            }

            .input-description{
                font-size: 110%;
                border-radius: 20px;
            }
        }
    }
}