.register-task-button{
    text-align: center;
    font-family: cursive;
    text-decoration: underline;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .7);
    width: 100px;
    border-radius: 10px;
    margin-top: 10px;
    a{
        color: black;
    }
}